<div class="formHolder">
  <h1><%= @user.email %> Cohorts</h1>
  <div class="navigation">
    <%= button_to "Back to Profile", user_path(@user), :class => "buttonsProfile", :method => :get %>
  </div>
  <% @cohorts.each do |cohort| %>
  <h3><%= cohort.cohort_type %> <%= cohort.name %></h3>
  <p><%= button_to "Show all students", cohort_path(cohort.id), :class => "buttonsProfile", :method => :get  %></p>
  <% end %>

</div>
